.important {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

h3 {
  height: 50%;
  width: auto
}

body {
  background-color: blanchedalmond;
}

.center {
  font-size: 60px;
  line-height: 3;
}

.david {
  border: 4px solid rgb(241, 196, 72);
  padding: 16px;
}

.familia {
  border: 4px solid rgb(241, 196, 72);
  padding: 16px;
}

.husband {
  border: 4px solid rgb(241, 196, 72);
  padding: 16px;
}

.project {
  border: 4px solid rgb(241, 196, 72);
  padding: 16px;
}

.aboutme {
  border: 4px solid rgb(241, 196, 72);
  padding: 16px;
}