.important {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

h3{
  height: 50%;
  width: auto
}

body{
  background-color: blanchedalmond;
}

.center{
  font-size: 60px;
  line-height: 3;
}